<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.mapper.PaperQuestionMapper">
    <resultMap id="paperQuestionResult" type="PaperQuestion">
        <result property="id" column="id"/>
        <result property="questionId" column="questionId"/>
        <result property="answer" column="answer"/>
        <result property="paperId" column="paperId"/>
        <result property="score" column="score"/>
    </resultMap>

    <insert id="add" parameterType="PaperQuestion">
        insert into t_paper_question (questionId, answer, paperId, score, courseName)
        values (#{questionId}, #{answer}, #{paperId}, 0, #{courseName});
    </insert>

    <select id="getListByPaperIdAndCourseName" resultMap="paperQuestionResult">
        select *
        from t_paper_question
        where paperId = #{param1}
          and courseName = #{param2}
    </select>

    <update id="update" parameterType="PaperQuestion">
        update t_paper_question
        <set>
            <if test="score != null">
                score=#{score},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>